.mapcontainer {
    height: 120px;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }

  .overlay-box {
    position: relative;
    height: 40px;
    margin-top: 5px;
    z-index: 100;
    background-color: #ffffff;
    border-radius: 20px;
    line-height: 1;
    padding-left: 11px;
    padding-top: 4px;
  }

  .overlay-text {
    font-size: 14px;
    color: black;
  }

  .stack-style {
    display: flex; 
    flex-direction: column;
  }

  .park-label-style {
    font-size: 16px;
    margin-left: 13px;
    margin-bottom: 5px;
  }

  .map-outer-container {
    margin-right: 1px !important;
    margin-left: 1px !important;
  }

  .map-second-layer {
    background: #F6F6F6;
    padding: 5px;
    border-radius: 20px;
    padding-right: 0 auto;
    padding-left: 0 auto;
  }

  .overlay-text-up {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
  }

  .overlay-text-down {
    font-size: 11px;
  }


@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 896px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
  .park-label-style {
    font-size: 20px;
  }

  .mapcontainer {
    height: 160px;
  }

  .overlay-box {
    height: 60px;
    padding-top: 15px;
    line-height: 1.1;
  }

  .overlay-text-up {
    font-size: 15px;
    margin-bottom: 2px;
  }

  .overlay-text-down {
    font-size: 14px;
  }
}

@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 915px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .park-label-style {
      font-size: 20px;
    }
  
    .mapcontainer {
      height: 160px;
    }
  
    .overlay-box {
      height: 60px;
      padding-top: 15px;
      line-height: 1.1;
    }
  
    .overlay-text-up {
      font-size: 15px;
      margin-bottom: 2px;
    }
  
    .overlay-text-down {
      font-size: 14px;
    }
}