/* .mapcontainer {
    height: 120px;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  } */
   .mapcontainer-home {
    
   }

  .overlay-box {
    position: relative;
    height: 51px;
    margin-top: 5px;
    z-index: 100;
    background-color: #ffffff;
    border-radius: 13px;
    line-height: 1.2;
    padding-left: 11px;
    padding-top: 8px;
  }

  .overlay-text {
    font-size: 14px;
    color: black;
  }

  .stack-style {
    display: flex; 
    flex-direction: column;
  }

  .park-label-style {
    font-size: 16px;
    margin-left: 13px;
    margin-bottom: 5px;
  }

  .map-outer-container {
    margin-right: 1px !important;
    margin-left: 1px !important;
  }

  .map-second-layer {
    background: #F6F6F6;
    padding: 5px;
    padding-bottom: 8px !important;
    border-radius: 20px;
    padding-right: 0 auto;
    padding-left: 0 auto;
  }

  .overlay-text-up {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
  }

  .overlay-text-down {
    font-size: 13px;
  }


@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 896px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
  .park-label-style {
    font-size: 20px;
  }

  .mapcontainer {
    height: 100%;
  }

  .overlay-box {
    height: 60px;
    padding-top: 15px;
    line-height: 1.1;
  }

  .overlay-text-up {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .overlay-text-down {
    font-size: 13px;
  }
}

@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 915px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .park-label-style {
      margin-top: 20px;
      font-size: 20px;
    }
  
    .mapcontainer {
      height: 100%;
    }
  
    .overlay-box {
      height: 60px;
      padding-top: 15px;
      line-height: 1.1;
    }
  
    .overlay-text-up {
      font-size: 16px;
      margin-bottom: 2px;
    }
  
    .overlay-text-down {
      font-size: 13px;
    }
}

@media only screen and (min-width: 390px) and (orientation: portrait) {
  .park-label-style {
      /* margin-top: 20px; */
      font-size: 20px;
      margin-bottom: 14px;
  }

  .mapcontainer {
    height: 100%;
  }

  .overlay-text-up {
    margin-left: 16px;
  }

  .overlay-text-down {
    margin-left: 16px;
  }
}

@media (max-width: 360px) and (max-height: 740px) {
  .mapcontainer {
    height: 100%;
  }
}