.mapcontainer {
    position: fixed;
    /* top: 33%; */
    left: 6.5%;
    right: 7%;
    height: 13%;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: -1000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .overlay-box {
    position: relative;
    height: 30px;
    background-color: #ccc;
    margin-top: 25% !important;
    margin-left: 11px !important;
    margin-right: 14px !important;
    padding-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 100;
    color: white;
  }

  .overlay-text {
    font-size: 14px;
    color: black;
  }

  .stack-style {
    display: flex; 
    flex-direction: column;
  }

  .park-label-style {
    font-size: 14px;
    margin-left: 13px;
    margin-bottom: 13px;
  }