.footer {
  display: none;
}

.footer-icon-style {
  height: 28px;
  width: 28px;
}

@media screen and (max-width: 768px) {
  .footer-item {
    display: flex;
    color: #1a1a1a;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  }

  .footer-item svg {
    font-size: 19px;
    color: #129f4e;
  }

  .footer-item:hover {
    color: #007bff;
  }

  .footer {
    position: fixed;
    bottom: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    z-index: 1000;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer-item svg {
    font-size: 21px;
  }

  .footer-item {
    font-size: 12px;
  }
}

@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 915px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .footer-item svg {
      font-size: 21px;
    }
  
    .footer-item {
      font-size: 12px;
    }
  }