.footer-item {
    display: flex;
    color: #333;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }

  .footer-item svg {
    font-size: 20px;
  }

  .footer-item:hover {
    color: #007bff;
  }

.footer {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}