.mapcontainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 90%;
  width: 100vw;
  border: none;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: -1000;
}