.logo-load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #129F4E, #14c762);
    overflow: hidden;
}

.logo-contain {
    position: relative;
    width: 200px;
    height: 200px;
}

.shine-logo {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.shine-effect {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  transform: skewX(-30deg);
  animation: shine 2s infinite;
  pointer-events: none; /* Makes sure it's non-interactive */
}

.shine-logo::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    transform: skewX(-30deg);
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}