.list-style {
  position: relative;
  color: black;
  padding: 15px;
  padding-top: 10px !important;
  background: #F6F6F6;
  border-radius: 12px;
  /* margin-top: 13px !important; */
  padding-left: 12px !important;
  margin-bottom: 10px;
}

.overlay-text-top {
  font-size: 15px;
}

.overlay-text-bottom {
  font-size: 14px;
}

.btn-style-one {
  background-color: #cccccc;
  color: #000000;
  padding: 4px 10px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-div-style {
  margin-bottom: 42px;
  padding-top: 0px !important;
  font-size: 18px;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  color: #129f4e;
}

.home-list-style {
  max-height: 160px;
  margin-top: 24px;
}

.address-small {
  font-size: 12px;
  border-radius: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100px;
  height: 100%;
  text-align: center;
  background-color: #FFF1B3;
  color: #957B09;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-small {
  font-size: 12px;
  border-radius: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 70px;
  height: 100%;
  text-align: center;
  background-color: #E2F5FF;
  color: #2C96D0;
  margin-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.space-small {
  font-size: 12px;
  border-radius: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 90px;
  height: 100%;
  text-align: center;
  background-color: #E1FFC8;
  color: #459A00;
  margin-right: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-containers {
  margin-left: 9px;
}

.lower-info-boxes {
  margin-top: 9px;
}

.list-number {
  position: absolute;
  top: 24px;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  left: 23.5px;
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-weight: bold;
}

.marker-style {
  font-size: 24px !important;
}

.custom-btn-two {
  margin-right: 16px;
  width: 358px;
  border-radius: 17px;
  height: 36px;
  color: #ffffff;
  font-size: 16px;
  background: #165CE9;
  font-weight: 700;
  border: none;
}

.ai-section-style {
  place-self: center;
  margin-bottom: 10px
}

.btn-ai-style {
  width: 21px;
  margin-right: 8px;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .btn-div-style {
    margin-left: 40px;
    font-size: 20px;
  }

  .overlay-text-top {
    font-size: 17px;
  }

  .home-list-style {
    max-height: 300px;
    margin-top: 24px;
  }

  .address-small {
    font-size: 14px;
  }

  .price-small {
    font-size: 14px;
  }

  .space-small {
    font-size: 14px;
  }

  .list-number {
    font-size: 13px;
  }

  .marker-style {
    font-size: 26px !important;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 915px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .btn-div-style {
    margin-left: 40px;
    font-size: 20px;
  }

  .overlay-text-top {
    font-size: 17px;
  }

  .home-list-style {
    max-height: 300px;
    margin-top: 24px;
  }

  .address-small {
    font-size: 14px;
  }

  .price-small {
    font-size: 14px;
  }

  .space-small {
    font-size: 14px;
  }

  .list-number {
    font-size: 13px;
    top: 45px;
  }

  .marker-style {
    font-size: 26px !important;
  }

  .custom-btn-two {
    width: 100% !important;
  }
}

@media only screen and (min-device-width: 430px) and (max-device-width: 932px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .custom-btn-two {
    width: 100%;
  }
}