.park-hist-style {
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35%;
    /* height: 100px; */
    position: relative;
}

.text-style {
    margin-left: 12px;
    line-height: 18px;
}

.text-top {
    font-size: 14px;
    color: #000000;
}

.out-gen-style {
    margin-bottom: 12px;
}

.text-bottom {
    font-size: 13px;
}

.line-style {
    width: 90% !important;
    margin: 0 auto;
    padding-top: 10px;
    color: #dcdcdc;
}

.login-text-style {
    place-self: center;
    margin-top: 41%;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .text-top {
        font-size: 16px;
    }

    .text-bottom {
        font-size: 15px;
    }

    .park-hist-style {
        height: 170px;
    }
}

@media only screen and (min-device-width: 412px) and (max-device-width: 915px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .text-top {
        font-size: 16px;
    }

    .text-bottom {
        font-size: 15px;
    }

    .park-hist-style {
        height: 170px;
    }

    .custom-icon {
        font-size: 19px;
        color: #000000;
    }
}

/* @media only screen and (min-device-width: 412px) and (max-device-width: 915px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .text-top {
        font-size: 16px;
    }

    .text-bottom {
        font-size: 15px;
    }

    .park-hist-style {
        height: 170px;
    }

    .custom-icon {
        font-size: 19px;
        color: #000000;
    }
} */

@media only screen and (max-width: 390px) and (orientation: portrait) {}

@media only screen and (min-device-width: 430px) and (max-device-width: 430px) and (min-device-height: 932px) and (max-device-height: 932px) and (-webkit-min-device-pixel-ratio: 3) {
  
}