.profile-page {
  margin-top: 40px;
  margin-left: 20px;
}
.profile-container {
  display: flex;
  padding: 10px;
  flex-direction: row;
  margin-top: 20px;
}
.profile-container h3 {
  padding: 5px;
  align-content: center;
}

.name-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.name-img-container img {
  height: 80px;
  width: 80px;
  border-radius: 44px;
}
.name-img-container h3 {
  padding-left: 20px;
}
.profile-details {
  display: flex;
  padding-left: 30px;
  margin-block: 30px;
  border-top-width: 20px;
  padding-top: 20px;
}
